name: .NET CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore ./myapp.sln

      - name: Build
        run: dotnet build ./myapp.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./myapp.sln -c Release -o ./publish --no-build

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t myapp:latest .

      - name: Push Docker image
        run: docker tag myapp:latest ${{ secrets.DOCKER_USERNAME }}/myapp:latest
      - run: docker push ${{ secrets.DOCKER_USERNAME }}/myapp:latest
